.pageLink {
    color: black;
    margin-right: 10px;
}

.activePageLink {
    font-weight: bold;
}

.button {
    display: flex;
    align-items: center;
}

.button img {
    width:20px;
    padding-right:10px;
}