.pageLink {
    color: black;
    margin-right: 10px;
    font-size:3vw;
}

.activePageLink {
    font-weight: bold;
}

.button {
    display: flex;
    align-items: flex-start;
}

.button img {
    width:20px;
    padding-right:10px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #4B4B4B;
    border-bottom: 2px double grey;
}

.header .logo {
    width: 20vw;
    height: 10vh;
}