.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 5px;
    text-align: center;
    width: calc(20% - 10px);
}

.producer {
    font-weight: bold;
    font-size: 5vmin;
    padding: 5px 0;
    color: #4e4e4e;
}

.model {
    padding: 5px 0;
    color: #959595;
    line-height: 1.5;
    font-size: 4vmin;
}

.addingButton {
    width:80%;
    margin: 0 auto;
    font-size: 4vmin;
    background-color: aquamarine;
    border:1px solid rgb(4, 209, 141);
    border-radius: 10px;
    min-height: 30px;
}